<ion-view view-title="Medications">
  <ion-content>
    
    <ion-list>
        <ion-item class="item-icon-right item-main item-text-wrap" ng-href="#/app/drugs/{{drugs[0].VPID}}/">
            {{drugs[0].VNAME}}
            <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
        <ion-item class="item-icon-right item-text-wrap" ng-repeat="drug in drugs" ng-href="#/app/drugs/{{drug.VPID}}/{{drug.APID}}">
            {{drug.ANAME}}
            <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
        </ion-item>
        <ion-spinner ng-show="!loaded" icon="dots" class="spinner-dark"></ion-spinner>
    </ion-list>
  </ion-content>
</ion-view>
