<ion-view view-title="Medications">
  <ion-content>
    
    <ion-list>
        <form ng-submit="submit()">         
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text"  placeholder="Search for a drug" ng-model="search.text">    
            </label>
            <button class="button button-positive button-small">
                Submit
            </button>
          </div>
        </form>
        <div class="item item-divider" ng-hide="submitted">Popular searches:</div>
        <ion-item class="item-icon-right" ng-repeat="drug in drugs | filter: search.text | limitTo: 50 track by $index" href="#/app/drugs/{{drug.APID}}">
            {{drug.ANAME}}
            <i class="icon ion-ios-arrow-forward"></i>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
