<ion-view view-title="Placeholder name{{drug.name}}">
  <ion-content class="padding">
    <h1>Placeholder name {{drug.ANAME}}</h1>
      
    <form class="list" ng-submit="openConfirm()" name="drugInfo">

      <label class="item item-input item-floating-label">
        <span class="input-label">Stength (mg)</span>
        <input type="number" placeholder="Strength (mg)" ng-model="drug.strength"required>
      </label>    
        
      <label class="item item-input item-floating-label">
        <span class="input-label">Quantity</span>
        <input type="number" placeholder="Quantity" ng-model="drug.quantity" required>
      </label>    
        
      
      <div class="item item-input-inset">
        <label class="item-input-wrapper item-floating-label">
            <span class="input-label">NHS Number</span>
            <input type="number" placeholder="NHS number" ng-model="patient.nhsno">
        </label>
        <button type="button" class="button button-clear button-stable" ng-click="openPatientInfo()">
          <i class="icon ion-help-circled"></i>
        </button>
      </div>
    <button class="button button-block button-positive" type="submit">
      Submit
    </button>
        
    </form>
    
  </ion-content>
</ion-view>
