<ion-modal-view>
  <ion-header-bar class="bar bar-stable">
    <h1 class="title">Patient Info</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePatient()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="openConfirm()" class="padding" novalidate>
      <div class="list">
          
        <p ng-show="error" class="text-assertive">
            {{error}}
        </p>
        <label class="item item-input item-floating-label">
          <span class="input-label">Patient Name</span>
          <input type="text" placeholder="Patient name" ng-model="patient.name" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">GP Surgery</span>
          <input type="text" placeholder="GP Surgery" ng-model="patient.surgery" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">GP Name</span>
          <input type="text" placeholder="GP name" ng-model="patient.gp" required>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Patient postcode</span>
          <input type="text" placeholder="Patient postcode" ng-model="patient.postcode" required>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
              Gender
            </div>
            <select ng-model="patient.gender">
              <option>Male</option>
              <option>Female</option>
              <option>Indeterminate</option>
            </select>
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Patient age (years)</span>
          <input type="number" placeholder="Patient age (years)" ng-model="patient.age" required>
        </label>
        <button class="button button-block button-positive" type="submit">
          Submit
        </button>
        </div>
    </form>
  </ion-content>
</ion-modal-view>
